.cardLogin {
	width: 600px;
	height: auto;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .15);
	padding: 20px;
	backdrop-filter: blur(50px);
}

.bg-login{
	background: url("/SistemaConsultorio/Sistema/view/images/background-login.jpg") no-repeat;
	background-size: cover;
	display: grid;
	align-items: center;
	justify-content: center;
	height: 100vh;

}

.logo {
	height: auto;
	width: 50%;
}

.profImg{
	width: 200px;
	height: auto;
	margin: 0px 0px 20px 0px;
}

.conteudo {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	margin-right: -50%;
	
}